ul {
  display: inline-block;
  flex-direction: column;
  list-style-type: none;
  width: 8rem;
  padding: 1.5rem;
  background-color: #333;
}

li {
  height: 5rem;
}

li + li {
  margin: 1.5rem 0 0;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redButton{
  background: #c00!important;
}

.yellowButton{
  background: #cc0!important;
}

.greenButton{
  background: #0c0!important;
}

.reset{
  background: #333;
}

.btn{
  margin: 0px 8px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px!important;
  border-radius: 0px!important;
}

.btn:hover{
  color: #fff!important;
  background: #B0C4DE!important;
}

.btns{
  margin: 10px 0px;
}

i{
  font-size: 15px!important;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) { 
  .btn{
    display: inline-grid;
    margin: 0 4px;
  }
}